<div class="container hp">

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.photo, class: 'img-fluid rounded mb-3', alt: 'Recipe cover image' %>
    </div>

    <div class="col-md-8">
      <h1><%= @recipe.name %></h1>

      <p class="lead"><%= @recipe.description %></p>

      <p>Created By: <strong><%= @user.name %></strong></p>

      <% if @user == current_user %>

        <div class="btn-group mb-4" role="group">
          <%= link_to "Add Ingredient", new_recipe_recipe_ingredient_path(@recipe), class: "btn btn-primary" %>
          <%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-danger" %>
        </div>

          <%= form_with(model: @recipe, url: toggle_visibility_recipe_path(@recipe), local: true, method: :post, class: 'toggle-visibility-form') do |f| %>
            <% if @recipe.public? %>
              <%= f.submit "Change to Private", class: "btn btn-primary" %>
            <% else %>
              <%= f.submit "Change to Public", class: "btn btn-primary" %>
            <% end %>
          <% end %>

      <% end %>

    </div>
  </div>

  <h2>Ingredients</h2>

  <ul class="list-group">
    <% if @recipe.ingredient_ownerships.any? %>
      <% @recipe.ingredient_ownerships.each do |ownership| %>
        <% if ownership.recipe_id == @recipe.id %>
          <li class="list-group-item">
            <%= ownership.ingredient.name %>
            <span class="text-muted">
              (<%= ownership.recipe_quantity %>,
              <%= ownership.ingredient.measurement_unit %> needed)
            </span>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <li class="list-group-item">No ingredients added yet.</li>
    <% end %>
  </ul>

</div>
