<%= form_with model: @ingredient, class: "form-horizontal" do |form| %>
  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :measurement_unit, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :measurement_unit, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :price, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.number_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :quantity, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.number_field :quantity, class: "form-control" %>
    </div>
  </div>

  <%= form.submit "Create Ingredient", class: "btn btn-primary" %>
<% end %>
